* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

nav > div {
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: center;
  background-image: url("../img/mapa.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}

nav ul {
  list-style-type: none;
  padding: 0 10%;
  overflow: hidden;
  background-color: #203c15;
  color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

nav ul li {
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #5dae36;
}

nav .active {
  background-color: #203c15;
}

nav li {
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

figure {
  display: inline-block;
  margin: 1rem auto;
  border-radius: 25%;
  overflow: hidden;
  border: 1px solid white;
}

.figure:hover {
  border: 1px solid red;
}

figure img {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px;
}

main {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  justify-items: center;
  background-color: #c1efb7;
}

.content {
  margin-bottom: 30px;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.content .content-header {
  letter-spacing: 3px;
  word-spacing: 15px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content .content-menu {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  color: black;
}

.arrow-icon {
  transition: 0.2s all ease-in-out;
  padding-right: 1rem;
}

.content .content-menu:hover {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 6px 20px;
  background-color: transparent;
  color: black;
  line-height: 2;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #203c15;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

input:focus {
  border: 3px solid #555;
}

input[type="submit"] {
  background-color: #203c15;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 8px;
  border: 2px solid black;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #203c15;
  color: red;
  border: 2px solid white;
}

#list-szlaki {
  background-color: rgba(255, 255, 166, 0.78);
  width: 100%;
  border-collapse: collapse;
}

#list-szlaki td,
#list-szlaki th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list-szlaki tr:hover {
  background-color: #ddd;
}

#list-szlaki th {
  padding: 12px 8px;
  text-align: left;
  background-color: #203c15;
  color: white;
}

#addBtn {
  background-color: #203c15;
  border: 1px solid transparent;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px 10px;
  cursor: pointer;
  width: 100%;
  min-width: 60vw;
  font-size: 1.3rem;
  text-transform: uppercase;
  /*border-radius: 25px;*/
}

#addBtn:hover {
  border: 1px solid white;
  background-color: #559e39;
}

#mymap {
  float: right;
  height: 600px;
  width: 100%;
  /*border-radius: 2rem;*/
  border: 1px solid white;
}

.edit {
  display: inline-block;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: darkorange;
  border: 1px solid transparent;
  border-radius: 15px;
}

.edit:hover {
  background-color: #ffb05b;
  border: 1px solid yellow;
}

.delete {
  display: inline-block;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #ff0000;
  border: 1px solid transparent;
  border-radius: 15px;
}

.delete:hover {
  background-color: #ff6363;
  border: 1px solid red;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5dae36;
  /*border-radius: 10px;*/
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.search-box * {
  margin: 10px;
}

.search-box label {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.search-btn {
  font-size: 1.1rem;
  padding: 10px 16px;
  background-color: #0b2e13;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: #23943c;
  color: red;
}
.subject {
  display: inline-block;
  width: 800px;
  margin: 10px;
}

.img {
  width: auto;
  height: 400px;
}
